.header {
  padding: 20px;
  text-align: left;
  background: rgb(186, 226, 236);
}
div.sticky {
    position: sticky;
    margin: 0;
    top: 0;
    padding: 0;
  }
/* Style the top navigation bar */


.topnav {
  overflow: hidden;
  text-align: center;
  /* background-color: rgb(36, 182, 102); */
  background-color: #672E3B;
}
/* Style the topnav links */
.topnav a{
  display: block;
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Footer */
.footer {
  /* position:absolute; */
  width:100%;
  padding: 20px;
  text-align: center;
  background: rgb(196, 188, 188);
  margin-top: 20px;
}
/* Footer */

/* Nevigation */
.navbar {
  overflow: hidden;
  background-color: #672E3B;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Nevigation */



/* Table 1*/
#tabel1 {
  font-family: Arial;
}

#table1 th{
  background-color: rgb(86, 255, 170);
}

#table1 td{
  padding-top: 15px;
  padding-right: 80px;
  padding-bottom: 15px;
  text-align: center;
}

#table1 tr{
  background-color: rgba(190, 233, 213, 0.959);
}

#table1 tr:hover {background-color: #ddd;}
/* Table 1*/

/* Table 2 */
#tabel2 {
  font-family: Arial;
}

#table2 tr{
  background-color: rgb(230, 227, 227);
}

#table2 td{
  /*border: 1px solid #ddd;*/
  padding: 4px;
  width: 350px;
}

#table2 tr:hover {background-color: #ddd;}

/* Table 2 */

hr.new{
  border-top: 1px solid rgb(199, 196, 196);
}


/* Login css */
.box1{
  width: 200px;
  height: 300px;
  border: 1px solid;
  background-color: rgb(230, 227, 227);
  box-shadow: 5px 10px 18px tomato;
  padding: 50px;
  margin-left: 40%;
}

.button1
{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1:hover
{
  background-color: #22c589;
}

.reset{
  background-color: black;
}

.reset:hover
{
  background-color: gray;
}

.lg{
  /*  */
}

.lg input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  
}

.lg input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  
}


/* Login css */


/* Error */
.error{
  color: #D8000C;
  /* background-color: #FFBABA; */
  background-color: white;

}
/* Error */

/* Back button */
.linkBtn
{
	text-decoration: none;
}
.gobackBtn
{
	margin: 10px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	background-color: #339966;
	color: white;
	padding: 5px 15px;
}

.gobackBtn:hover
{
	background-color: black;
	color: white;
}
/* Back button */
/* Profile */
.fieldSetBorder
{
  width: 32%;
	border-radius: 4px;
	border : 2px solid black;
}

.fieldSetBorder1
{
  width: 55%;
	border-radius: 4px;
	border : 2px solid black;
}

/*  */


/* submit  */
.submitBtn
{
	border: none;
	cursor: pointer;
	border-radius: 4px;
	background-color: #008080;
	color: white;
	padding: 3px 15px;
}

.submitBtn:hover
{
	background-color: black;
	color: white;
}
/* submit */

/* reject button */

.rejectBtn
{
	border: none;
	cursor: pointer;
	border-radius: 4px;
	background-color: #990000;
	color: white;
	padding: 3px 15px;
}


.rejectBtn:hover
{
	background-color: black;
	color: white;
}

/* reject button */

/* slideshow */

#slideshow1{
  display:none;
}

/* slideshow */

/* logout color */
.logoutcolor{
  background-color: #DC4C46;
}
/* logout color */